# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

[*.md]
# Markdown gives a hard line break to two trailing spaces, and there is no way
# to tell a trimmer which of the two it is looking at.
trim_trailing_whitespace = false
